html, body {
  background-image: url(../imgs/bg_menu.jpg);
  background-size: cover; background-position: center center;
}
html, body, canvas, .wrap {
  position: relative;
  width: 100%; height: 100%; margin: 0;
  overflow: hidden;
}
canvas {
  position: absolute;
  top: 0; left: 0;
}
.wrap {
  display: table;
}
#logo {
  position: absolute; width: 100%;
  top: 0; left: 0; text-align: center;
}
#logo > img {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.5);
}
.info {
  width: 100%; heigth: 100%;
  display: table-cell; vertical-align: middle;
  text-align: center;
}
.info > div {
  display: inline-block; width: 75%;
  background: rgba(0, 0, 0, 0.5);
  color: #FAFAFA; padding: 10px;
  border-radius: 5px;
  padding-bottom: 20px;
}
.info > div > span {
  white-space: nowrap;
}
.menu-icon {
  color: #212121; background-color: #FAFAFA; border-radius: 1em;
  margin: 7px 5px;
  font-size: 1.125em;
  padding: 0.25em;
}
textarea#error {
  position: fixed; bottom: 0; left: 0;
  width: 100%; height: 50px;
  background-color: #B71C1C; resize: none;
  color: #FFEBEE; display: none;
}
